.navbar {
  background-color: rgb(2, 106, 167);
  color: aliceblue;
}


.a1 {

  border-radius: 5px;
  padding: 2px;
  background-color: rgb(2, 106, 167);
}
.a1:hover {
  background-color: rgb(53, 136, 185);
}
.btn1 {
  border-radius: 5px;
  padding: 5px 12px;
  background-color: rgb(2, 106, 167);
  margin-left: 5px;
  font-style: normal;
}
.btn1:hover {
  background-color: rgb(53, 136, 185);
}

/* li > ul {
  transform: translatex(100%) scale(0);
}
li:hover > ul {
  transform: translatex(101%) scale(1);
}
li > button svg {
  transform: rotate(-90deg);
}
li:hover > button svg {
  transform: rotate(-270deg);
} */

/* Below styles fake what can be achieved with the tailwind config
     you need to add the group-hover variant to scale and define your custom
     min width style.
  	 See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
  	 for implementation with config file
  */
.group:hover .group-hover\:scale-100 {
  transform: scale(1);
}
.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg);
}
.scale-0 {
  transform: scale(0);
}
.min-w-32 {
  min-width: 8rem;
}
.li1{
    color: rgb(41 37 36);
}

.color-text-li {
    color: #5e6c84;
    margin-top: 10px;
    
}

.hr-navbar{

    color: #dcdfe4;
    margin: 15px 30px;
}
.button-create:hover{
    background-color: #3588b9;
    
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

