@tailwind base;
@tailwind components;
@tailwind utilities;
.column {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ebecf0;
}
.column-title {
  text-align: center;
  padding: 6px 0;
  height: 40px;
  background-color: green;
  position: relative;
  top: -9px;
}
.item-task {
  padding: 8px;
  margin: 8px 8px;
  background-color: white;
  color: black;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 1px 0 #091e4240;
}
.item-task:hover {
  background-color: #f4f4f7;
}

.Broad {
  /* background-image: url('../public/assets/image/wallpaper-4k-hinh-nen-4k-con-duong-day-tuyet-dep_101306165.jpg'); */
  padding-bottom: 110px;
}
.asslsss:hover {
  background-color: #026aa7;
}
.btn-my-trell {
  position: relative;
  bottom: -6px;
}
.dropdown-top{
  position: absolute;
  top: 56px;
}
.hover-btn-top:hover{
  background-color: #ccc;
}
